.siz__container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.siz__info {
  font-size: 13px;
}

.detalis__container {
  display: flex;
  flex-direction: column;
}

.history__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 60vh;
  overflow: auto;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}

.history__info {
  max-width: max-content;
  cursor: pointer;
}

.history__info:hover {
  scale: 0.95;
}
