.list__title {
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  max-width: 80%;
}

.list__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
