.div:hover {
  border: 1px solid black;
}

.block {
  width: 250px;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  
  background-color: beige;
  z-index: 1;
  top: 0;
}

.div {
  width: 100%;
  padding: 5px;
}

.serchBox {
  position: relative;
}
.serchBox__input {
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  min-height: 38px;
}